{% extends 'work/work.html' %}

{% block selected_work %}

{% comment %} TODO: Input all the images in the database via json {% endcomment %}

<div class="section-wrapper default section-portfolio_gallery no-gutters">
    <div class="portfolio-tag">
        <h4><i class="fas fa-chevron-down left"></i>portfolio<i class="fas fa-chevron-down right"></i>
            <h4>
    </div>
    <div class="container-wide">
        <div class="gallery">
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/apd_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/apd_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <div class="play-btn"><i class="fas fa-play"></i></div>
                <img class="lazy" data-src="/media/portfolio/JoeyWolfe_Intro_thumbnail.png">
                <div class="modal-slide">
                    <iframe src="https://www.youtube.com/embed/_gOv1MJ1m8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/banishedtactics_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/banishedtactics_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/blinky_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/blinky_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <div class="play-btn"><i class="fas fa-play"></i></div>
                <img class="lazy" data-src="/media/portfolio/yeti_introthumb.png">
                <div class="modal-slide">
                    <iframe src="https://www.youtube.com/embed/rwAtcsJmW9E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/keiden_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/keiden_Logo-Presentation.png">
                </div>
            </div>

            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/butz_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/butz_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/txnoir_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/txnoir_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/jace_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/jace_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <div class="play-btn"><i class="fas fa-play"></i></div>
                <img class="lazy" data-src="/media/portfolio/SmokeyDrake_intro-thumb.png">
                <div class="modal-slide">
                    <iframe src="https://www.youtube.com/embed/ZuKqeKf3Ens" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/wolferfenrir_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/wolferfenrir_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media//portfolio/arianina_emotes1.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/arianina_emotes1.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/arianina_emotes2.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/arianina_emotes2.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/wretchedrelva_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/wretchedrelva_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/crusader_Logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/crusader_Logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/crypticomen_overlaycam.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/crypticomen_overlaycam.png">
                </div>
            </div>

            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/dabeebs_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/dabeebs_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/daddydonut_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/daddydonut_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <div class="play-btn"><i class="fas fa-play"></i></div>
                <img class="lazy" data-src="/media/portfolio/oreoman-transition_thumbnail.png">
                <div class="modal-slide">
                    <iframe src="https://www.youtube.com/embed/lbz9ooUb7RE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/daddydonut_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/daddydonut_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12 logo" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/butz-logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/butz-logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12 logo" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/sonic_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/sonic_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12 logo" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/pointgap_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/pointgap_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12 logo" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/pointgap_facecam_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/pointgap_facecam.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12 logo" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/navious_facecam.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/navious_facecam.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12 logo" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/zonicz_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/zonicz_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/daddydonut_stream.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/daddydonut_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/dafoe_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/dafoe_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/darkuriel_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/darkuriel_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Detour_logo-presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Detour_logo-presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Detour_Sub-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Detour_Sub-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/equilibrium_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/equilibrium_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/fitbeastnation_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/fitbeastnation_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/sodapop_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/sodapop_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/sodapop_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/sodapop_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/sodapop_stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/sodapop_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Forsti_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Forsti_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/tarik_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/tarik_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/phalanxo-stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/phalanxo-stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/frnxke_socialmeda_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/frnxke_socialmeda.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/frxnke_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/frxnke_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/gauntlet_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/gauntlet_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/GNG_Facecam.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/GNG_Facecam.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/greekroyalty_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/greekroyalty_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/grizzle_LogoPresentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/grizzle_LogoPresentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/grizzle_subbadges_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/grizzle_subbadges.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/grizzlymuffin_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/grizzlymuffin_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/hawkeye_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/hawkeye_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/lion_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/lion_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/accurate-social_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/accurate-social.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/headshotheathen-logo-presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/headshotheathen-logo-presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/hg_Logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/hg_Logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/livinghero_Logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/livinghero_Logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/livinghero_stream_tumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/livinghero_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/livinghero_social_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/livinghero_social.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/cyox_social_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/cyox_social.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/HG_logoPresentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/HG_logoPresentation.png">
                </div>
            </div>

            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Hinoraki_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Hinoraki_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12 stream" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/butz_stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/butz_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/iceprime_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/iceprime_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/ignite_RevampPresentation_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/ignite_RevampPresentation.png">
                </div>
            </div>

            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/joeywolfe_facecamoverlay.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/joeywolfe_facecamoverlay.png">
                </div>
            </div>

            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/joeywolfe_Revamp-Presentation_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/joeywolfe_Revamp-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/jonty_facecamoverlay.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/jonty_facecamoverlay.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/jonty_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/jonty_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/jonty_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/jonty_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Kavia_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Kavia_Logo-Presentation.png">
                </div>
            </div>

            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/keiden_Revamp-Presentation_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/keiden_Revamp-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/KeidenFacecamOverlayPresentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/KeidenFacecamOverlayPresentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/kingboozer_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/kingboozer_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <div class="play-btn"><i class="fas fa-play"></i></div>
                <img class="lazy" data-src="/media/portfolio/kingboozer_stream_thumbnail.png">
                <div class="modal-slide">
                    <iframe src="https://www.youtube.com/embed/BSfWW65jWOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/kingland_LogoPresentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/kingland_LogoPresentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/kingland_Revamp_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/kingland_Revamp.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/kingland_stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/kingland_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/koreaan_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/koreaan_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/koreaan_stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/koreaan_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/krisspyfox_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/krisspyfox_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/lagaddicts_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/lagaddicts_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/lemonide_stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/lemonide_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/livingston_Logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/livingston_Logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/CrypticOmen_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/CrypticOmen_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/losan_Logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/losan_Logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/mactire_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/mactire_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/mactire_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/mactire_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/mage_Logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/mage_Logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/malcynna_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/malcynna_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/malcynna_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/malcynna_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/manova_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/manova_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/mikey_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/mikey_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/mudbuddy_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/mudbuddy_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/mudbuddy_stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/mudbuddy_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Mysterio_Logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Mysterio_Logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/ohsocold_LogoPresentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/ohsocold_LogoPresentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Oreoman_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Oreoman_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/padagi_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/padagi_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/padagi_stream_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/padagi_stream.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/padagi_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/padagi_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Raygunn_Logo-Presentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/Raygunn_Logo-Presentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/remix_facecam.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/remix_facecam.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/scotty_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/scotty_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/slaypex_logo.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/slaypex_logo.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/slaypex_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/slaypex_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/SmokeyDrake_LogoPresentation.png">
                <div class="modal-slide">
                    <img src="/media/portfolio/SmokeyDrake_LogoPresentation.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/SmokeyDrake_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/SmokeyDrake_socialmedia.png">
                </div>
            </div>
            <!--ImageBox-->
            <div class="imageBox col-lg-4 col-md-6 col-sm-12" onclick="openModal();currentSlide()">
                <img class="lazy" data-src="/media/portfolio/Chrisdude_socialmedia_thumbnail.png">
                <div class="modal-slide">
                    <img class="wide" src="/media/portfolio/Chrisdude_socialmedia.png">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()"><i class="fas fa-times"></i></span>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="modal-content">

    </div>
</div>

{% endblock %}