{% extends 'index.html' %}

{% block content %}
<body>
    <!-- HEADER -->
    <header class="header-area">
        <div class="navbar-area">
            <div class="container-wide">
                <nav class="site-navbar">
                    <a href="/." class="site-logo">
                        <img src="/media/logo/Type+Logo.png" alt="">
                    </a>
                    <ul>
                        <li class="active"><a href="{% url 'work_page' %}">Work</a></li>
                        <li><a href="{% url 'service_page' %}">Services</a></li>
                        <li><a href="{% url 'insights_page' %}">Insights</a></li>
                        <li><a href="{% url 'quote' %}">Get a quote</a></li>
                    </ul>
                    <button class="nav-toggler">
                        <span></span>
                    </button>
                </nav>
            </div>
        </div>
    </header>

    {% block selected_work %}

    {% endblock %}

    
    <div class="section-wrapper default bg-blue-dark section-cta">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="cta-content text-center">
                        <h2>Ready to get started?</h2>
                        <div class="cta-btn_wrapper text-center">
                            <a class="default-btn" href='{% url "quote" %}'>Get in touch
                                <span class="btn-icon">
                                    <i class="far fa-arrow-right"></i>
                                </span>
                            </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% load static %}
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <!-- JS -->
    <script src="{% static 'js/lightbox-cases.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/lazyload.js' %}"></script>


{% endblock %}